<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <style>

    </style>

</head>
<body>
 
    <h1>Tiny Whoop League</h1>
         
    <a th:href="@{raceList}" class="fw-bold text-body"><u>Enter</u></a></p>
         
    <!-- <iframe th:src="https://giphy.com/embed/dLtpkciSDyvT1LPtQ6" class="drone" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a th:href="https://giphy.com/gifs/pbsdigitalstudios-pbs-overview-dLtpkciSDyvT1LPtQ6"></a></p> -->
                  



</body>
</html>