<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Race</title>
</head>
<body>
    <form class="raceList" form method="POST" action="/addRace">
        <h1>List of Race Course</h1>
        <table>
            <tr>
                <td>
                    <a th:href="@{pilotList}" class="fw-bold text-body"><u>List of Pilot</u></a></p>
                    <a th:href="@{raceCourse}" class="fw-bold text-body"><u>Race Course</u></a></p>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>