<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Races</title>
</head>
<body>
    <form method="GET">
        <h1>List of Race Course</h1>
        <table>
            <th>
                <tr>
                    <td>Race ID</td>
                    <td>Race Name</td>
                    <td>Number of Laps</td>
                    <td>Closing Date</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </th>
            <tr data-th-each="r : ${races}">
                <td>
                    <form action="" method="get">
                        <span data-th-text="${r.race_id}" name="race_id"></span>
                    </form>
                </td>
                <td>
                    <span data-th-text="${r.race_name}" name="race_name"></span>
                </td>
                <td>
                    <span data-th-text="${r.number_of_laps}" name="number_of_laps"></span>
                </td>
                <td>
                    <span data-th-text="${r.closing_date}" name="closing_date"></span>
                </td>
                <td>
                    <button type="submit" formaction="/edit">Edit</button>
                </td>
                <td>
                    <button type="submit" formaction="/delete">Delete</button>
                </td>
                
            </tr>
        </table>
        <a th:href="@{pilotList}">List of Pilot</a>
        <a th:href="@{addRace}">Race Course</a>
    </form>
</body>
</html>
